@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    font-family: "Source Code Pro", sans-serif;
    color: black;
    line-height: 1.6;
    overflow: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.navbar {
    background-color: #00ced1;
    color: white;
    height: auto;
    
}


.navbar .flex {
    
    justify-content: space-between;
}

.navbar ul {
    display: flex;

}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 0.25s linear;
    text-shadow: 0 0 5px black;
}

.welcome {
    min-height: 100vh;
    background: cover;
    position: relative;
}

.welcome h1 {
    font-size: 40px;
    text-align: center;
}


.container {
    max-width: 2000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.circle--around--image { 
    border-radius: 110%; 
    
}

.intro {
    display: flex;
    margin-left: 10px;
}

.intro p {
    margin-left: 0.5rem;
    display: flexbox;
}

.intro img {
    float: left;
    margin-top: 2%;
    width: 40px;
    height: 40px;
}

.nav-icons {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-align: center
}

.nav-icons i:hover {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 0.25s linear;
    text-shadow: 0 0 5px black;
}
.nav-icons i {
    margin: center;
    float: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.social {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-align: center
}

.social i:hover {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 0.25s linear;
    text-shadow: 0 0 5px black;
}
.social i {
    margin: center;
    float: none;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.flex .contacts {
    text-align: center;
    font-size: 1rem;
}

.grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto);
}


.welcome {
    position: relative;
    background-image: url(../images/intro-background.png);
    overflow: hidden;
}

.welcome p {
    font-size: 2rem;
    background-color: rgba(0, 206, 209, 0.8);
    animation: popup 10s;
    overflow: hidden;
}
.welcome span {
    
    border-right: solid black;
    border-width: 0.5rem;
    height: 3%;
    animation: blinker 1s linear infinite

}

.welcome h1 {
    position: fixed;
    top: 50%;
    left: 5%;
    right: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(0, 206, 209, 0.5);
    animation: blinker 1000s linear infinite, fadeOut ease 10s;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  50% {
      opacity: 1;
  }
  100% {
    opacity:0;
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  50% {
      opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@keyframes popup {
  0%{
    opacity: 0;
    transform: scale(1.1);
  }
  50%{
      opacity: 0;
    transform: scale(1.2);
  }
  60%{
      opacity: 0;
    transform: scale(1.3);
  }
  70%{
      opacity: 0;
    transform: scale(1.3);
  }
  80%{
      opacity: 0;
    transform: scale(1.2);
  }
  90%{
      overflow: hidden;
      opacity: 0;
    transform: scale(1.1);
  }
  100%{
      opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
    .welcome {
        height: auto;
    }

    .welcome p {
        font-size: 1rem;
    }

    .welcome h1 {
        font-size: 1.5rem;
    }
    
}

@media (max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
        text-align: center;
    }

    .navbar .ul {
        padding: 10px;
        background-color: (0, 0, 0, 0.1);
    }

    .navbar i {
        text-align: center;
    }
}